// how component
.how {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0) 100%), #2961DF;
    padding-bottom: calc(var(--padding-section) + 4rem);
}

.how-body__wrapper {
    max-width: 43.75rem;
}