/* section component */
.section {
    width: 100%;
    display: grid;
    justify-items: center;
}

/* wrapper component */
.wrapper {
    width: 100%;
    display: grid;
}

.wrapper--centered-content {
    justify-items: center;
}

.wrapper--padding-section {
    padding: var(--padding-section);
}

.wrapper--row-gap--normal {
    row-gap: calc(var(--space-grid) * 2);
}
@media screen and (min-width: 600px) {
    .wrapper--row-gap--normal {
        row-gap: calc(var(--space-grid) * 3);
    }
}
@media screen and (min-width: 1200px) {
    .wrapper--row-gap--normal {
        row-gap: calc(var(--space-grid) * 4);
    }
}

.wrapper--row-gap--small {
    row-gap: calc(var(--space-grid) * 1);
}
@media screen and (min-width: 600px) {
    .wrapper--row-gap--small {
        row-gap: calc(var(--space-grid) * 2);
    }
}
@media screen and (min-width: 1200px) {
    .wrapper--row-gap--small {
        row-gap: calc(var(--space-grid) * 3);
    }
}

.wrapper--row-gap--large {
    row-gap: calc(var(--space-grid) * 4);
}
@media screen and (min-width: 600px) {
    .wrapper--row-gap--large {
        row-gap: calc(var(--space-grid) * 5);
    }
}
@media screen and (min-width: 1200px) {
    .wrapper--row-gap--large {
        row-gap: calc(var(--space-grid) * 6);
    }
}

.wrapper--boxed {
    max-width: var(--boxed-width);
}

@media screen and (min-width: 600px) {
    .wrapper--columns {
        grid-template-columns: repeat(8, 1fr);
        column-gap: 1rem;
    }
}

@media screen and (min-width: 1200px) {
    .wrapper--columns {
        grid-template-columns: repeat(12, 1fr);
        column-gap: 1.5rem;
    }
}

// navbar__wrapper component {
.navbar__wrapper {
    padding: ($spacer * 1);
}
@media screen and (min-width: 1200px) {
    .navbar__wrapper {
        padding: ($spacer * 2);
    }
}


// logo component {
.logo {
    display: block;
    height: 40px;
    width: auto;
}
@media screen and (min-width: 1200px) {
    .logo {
        display: block;
        height: 60px;
        width: auto;
    }
}

.footer__wrapper {
    padding: var(--space);
}