////////////////////////////////////////
// organisms
////////////////////////////////////////

// navbar__wrapper component {
.navbar__wrapper {
    padding: 0 0 calc(var(--space-grid) * 2) 0;
    // background-color: #282355;
}

@media screen and (min-width: 1200px) {
    .navbar__wrapper {
        padding: 0 0 calc(var(--space-grid) * 3) 0;
        justify-items: left;
    }
}

.intro {
    background: radial-gradient(100% 100% at 100% 0%, rgba(0, 224, 255, 0.1) 3.89%, rgba(52, 182, 195, 0) 100%), #282355;
    background-color: #282355;
    color: #ffffff;
    height: 100vh;
}

@media screen and (min-width: 1200px) {
    .intro__wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

.intro__left {
    align-content: center;
    background: radial-gradient(100% 100% at 100% 0%, rgba(0, 224, 255, 0.3) 3.89%, rgba(52, 182, 195, 0) 100%), #282355;
}

@media screen and (min-width: 1200px) {
    .intro__left {
        grid-column: 1/2;
        grid-row: 1/2;
    }
}

@media screen and (min-width: 1200px) {
    .intro-left__wrapper {
        justify-content: center;
        justify-items: left;
    }
}

.intro__right {
    display: none;
}

@media screen and (min-width: 1200px) {
    .intro__right {
        display: grid;
        grid-column: 2/3;
        grid-row: 1/2;

        background: url('../images/image-intro-lg.jpg') no-repeat center;
        background-size: cover;
    }

}

.intro__header {
    align-content: center;
    max-width: 400px;
}

@media screen and (min-width: 1200px) {
    .intro__header {
        // grid-column: 3/11;
        // grid-row: 1/2;
        justify-items: left;
        text-align: left;
    }
}

// Mailchimp form
#mc_embed_signup {
    background-color: transparent;
    width: 100%;
    max-width: 400px;
}

#mc_embed_signup form .mc-field-group {
    width: 100%;
    padding: 0;
}

#mc_embed_signup form .mc-field-group label {
    display: none;
}

#mc_embed_signup #mc-embedded-subscribe-form {
    padding: 0;
}

// @media screen and (min-width: 1200px) {
//     #mc_embed_signup #mc-embedded-subscribe-form {
//         padding-left: 0;
//     }
// }

#mc_embed_signup form .mc-field-group input {
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    color: rgba(255, 255, 255, var(--color-contrast-medium));
    border: 1px solid rgba(255, 255, 255, var(--color-contrast-medium));
    border-radius: 0.3125rem;
    padding: 1rem;
    background-color: transparent;
    transition: all 0.3s;
}

#mc_embed_signup form .mc-field-group input::placeholder {
    color: rgba(255, 255, 255, var(--color-contrast-medium));
}

#mc_embed_signup form .mc-field-group input:-webkit-autofill {
    animation-name: autofill;
    animation-fill-mode: both;
}

#mc_embed_signup form .mc-field-group input:focus {
    border: 1px solid rgba(255, 255, 255, var(--color-contrast-medium));
}

@keyframes autofill {
    to {
        color: rgba(255, 255, 255, var(--color-contrast-medium));
        background: transparent;
    }
}

// form button
#mc_embed_signup form .button {
    padding-top: var(--space-grid, 0.5rem);
    padding-bottom: var(--space-grid, 0.5rem);
    padding-left: calc(var(--space-grid, 0.5rem) * 2);
    padding-right: calc(var(--space-grid, 0.5rem) * 2);
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
    text-transform: uppercase;
    font-family: var(--font-family);
    font-size: var(--button, 0.875rem);
    font-weight: 700;
    text-align: center;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;

    display: block;
    height: auto;
    width: 100%;
    margin: 0;
}


#mc_embed_signup form .button:hover {
    background-color: var(--color-secondary-dark);
}

#mc_embed_signup_scroll {
    display: grid;
    row-gap: calc(var(--space-grid) * 2);
}


// footer__wrapper component
.footer__wrapper {
    padding: var(--space);
}

////////////////////////////////////////
// molecules
////////////////////////////////////////



////////////////////////////////////////
// Atoms
////////////////////////////////////////

// logo component
.logo {
    display: block;
    height: 40px;
    width: auto;
}

@media screen and (min-width: 1200px) {
    .logo {
        display: block;
        height: 60px;
        width: auto;
    }
}