.contagem-regressiva {
    width:300px;
    height:70px;
    background-color: #ffffff;
}
    
.numero {
    width: 60px;
    height: 50px;
    background-color: #efefef;
    font-size: 22px;
    margin: 5px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
    
.legenda {
    height: 25px;
    line-height: 10px;
    font-size:12px;
    background-color: #ffffff;
    text-align: center;
}